/* Add CSS Styling */

.pee_class {
    background-color: pink;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#id_1 {
    color: blue;
    font-size: 36px;
}

.special_class {
    font-size: 24px;
}

#id_2 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}