body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 12px;
}

.title {
  background: #e3f4ff;
  margin-top: 10px;
  margin-bottom: 12px;
}

.content {
  background: #e3f4ff;
  padding: 12px 8px;
  margin: 12px 0px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  display: block;
  margin: 0px auto;
  border: 1px solid #eee;
  padding: 8px 20px;
}